<link rel ="stylesheet" href="/style.css">
<h1>
	News Letter
</h1>
 <p>
	 The Current Registered users are <strong><%=data%></strong>
</p>

  <form method="POST" action="/register">
	  <input type="text" name="email" class="form" placeholder="Enter Your email Address...">
	  <button>
		  Join Us
	  </button>
</form>